@import 'styles/code.css';

.shower {
    --page-background: #1E2939;
    --color-accent: #ABE188;
    --ribbon-text: #404040;
    --page-caption-color: #fff;
    --slide-active-0: #58A22A;
    --slide-active-1: #468221;
}