/* Next */

.shower.full .next {
    visibility: hidden;
}

.shower.full .next.active,
.shower.full .next.visited {
    visibility: visible;
}

.shower.full .next.visited.visit-hidden {
    visibility: hidden;
} 
